name: Create development releases
on:
  push:
    branches-ignore:
      - master
      - dependabot/*

jobs:
  development:
    name: Create development release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup branch name variable
        run: echo "GIT_BRANCH_NAME=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV

      - name: Create Alpine overlay file (apkovl)
        run: |
          chmod 0600 apkovl/etc/iptables/rules*
          tar czf apkovl.tar.gz \
            --owner=0 \
            --group=0 \
            -C apkovl .

      - name: Create iSH overlay file (ishovl)
        run: |
          tar czf ishovl.tar.gz \
            --owner=0 \
            --group=0 \
            -C ishovl .

      - name: Delete development release and tag
        run: |
          gh release delete "${GIT_BRANCH_NAME}" \
            --yes \
            --cleanup-tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true

      - name: Create development release and tag
        run: |
          gh release create "${GIT_BRANCH_NAME}" \
            --generate-notes \
            --target "${GITHUB_REF}" \
            --title "Development: ${GIT_BRANCH_NAME}" \
            *.pxe *.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
