name: Create development releases
on:
  push:
    branches-ignore:
      - master
      - dependabot/*
    tags-ignore:
      - '**'

jobs:
  development:
    name: Create development release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup branch name variable
        run: echo "GIT_BRANCH_NAME=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV

      - name: Configure apkovl file location
        run: |
          sed -i \
            -E "s/^(set apkovl_release) \w+\$/\1 ${GIT_BRANCH_NAME}/" \
            ./default.pxe ./manual.pxe

      - name: Create Alpine overlay file (apkovl)
        run: |
          chmod 0600 apkovl/etc/iptables/rules*
          tar czf apkovl.tar.gz \
            --owner=0 \
            --group=0 \
            -C apkovl .

      - name: Create iSH overlay file (ishovl)
        run: |
          tar czf ishovl.tar.gz \
            --owner=0 \
            --group=0 \
            -C ishovl .

      - name: Create development release tag
        run: |
          git config user.name Github Actions
          git config user.email github-actions@github.com
          git tag --force "${GIT_BRANCH_NAME}"
          git push origin --tags --force

      - name: Delete previous development release
        run: |
          gh release delete "${GIT_BRANCH_NAME}" --yes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true

      - name: Create new development release
        run: |
          gh release create "${GIT_BRANCH_NAME}" \
            --generate-notes \
            --latest=false \
            --target "${GITHUB_REF}" \
            --title "Dev: ${GIT_BRANCH_NAME}" \
            *.pxe *.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
