name: Delete development releases
on:
  delete:
    branches-ignore:
      - master
      - dependabot/*

jobs:
  cleanup:
    name: Delete development release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Delete development release and tag
        run: |
          gh release delete "${GITHUB_REF#refs/heads/}" \
            --yes \
            --cleanup-tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true
